<nav class="navbar">
  <div class="container">
    <a href="/" class="navbar-brand">🎬</a>
    <ul class="navbar-links">
      <li><a href="/">Início</a></li>
      <li><a href="/filmes">Filmes</a></li>
      <li><a href="/series">Séries</a></li>
      <li><a href="/atores">Atores</a></li>
    </ul>
  </div>
</nav>
