body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  margin-bottom: 2rem;
  /* Fundo principal escuro */
  background-color: #2f2f2f;
  /* Cor de texto principal clara */
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbar {
  background-color: #202020;
  padding: 0.4rem 0;
  border-top: 2px solid #202020;
  border-bottom: 3px solid #f6c700;
  width: 100%;
  box-sizing: border-box;
}

.navbar .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .navbar-brand {
  font-size: 1.75rem;
  font-weight: bold;
  color: #ecf0f1;
  text-decoration: none;
  transition: transform 0.2s;
}

.navbar-brand:hover {
  transform: scale(1.05);
  color: #f6c700;
} */

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.navbar-links a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
}

.navbar-links a:hover {
  color: #f6c700;
  /* border-bottom-color: #f6c700; */
}

.navbar-links li {
  transition: transform 0.1s linear;
}

.navbar-links li:hover {
  transform: scale(1.075);
}

.navbar-logo {
  height: 40px; 
  width: auto; 
}

.navbar-vertical-separator {
  width: 1px;
  height: 1.2rem;
  background-color: #555555;
  margin: 0;
}